{% extends "base.html" %}

{% block title %}Admin Portal{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="four wide column">
        <div class="ui vertical inverted black menu">
            <a class="active item"><h5><i class="chart bar outline icon"></i> Users </h5></a>
            <a class="item"><h5><i class="chart bar outline icon"></i> Boards </h5></a>
            <a class="item"><h5><i class="chart bar outline icon"></i> Posts </h5></a>
            <a class="item"><h5><i class="chart bar outline icon"></i> Comments </h5></a>
        </div>
        <div class="ui fluid icon inverted transparent input">
            <input id="keyword" type="text" placeholder="Search by Keyword or ID">
            <i id="search" class="search link icon"></i>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui grid">
            <div class="eight wide column">
                <button class="ui fluid basic inverted button">
                    <i class="file excel outline icon"></i> Export Database
                </button>
            </div>
            <div class="eight wide column">
                <button class="ui fluid basic inverted button">
                    <i class="plus square outline icon"></i> Add / New
                </button>
            </div>
        </div>
        <table class="ui celled inverted black table">
            <thead>
            <tr>
                <th><h5><i class="hashtag icon"></i> ID </h5></th>
                <th><h5><i class="file outline icon"></i> Description </h5></th>
                <th class="collapsing"><h5><i class="sliders horizontal icon"></i>
                </h5></th>
            </tr>
            </thead>
            <tbody id="records">
            </tbody>
        </table>
    </div>
    <div class="one wide column"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/javascripts/admin.js"></script>
{% endblock %}
