<html>

<head>
    <title>Social Light - {% block title %}{% endblock %}</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet prefetch"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet prefetch"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <link rel="stylesheet prefetch"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css">
    <link rel="stylesheet prefetch"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/progress.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/progress.min.js"></script>
</head>

<body>

<!-- navigation bar -->
<div id="navigation" class="ui inverted black menu">
    <a class="ui item" href="">
        <h5>
            <img class="ui avatar image" src="/icons/cloud-storm.svg" style="filter:invert(100%)"/>
            <span> Social Light </span>
        </h5>
    </a>
    {% block menu %}{% endblock %}
    <div class="right inverted menu">
        {% block user %}{% endblock %}
    </div>
</div>

<!-- content -->
<div id="content">
    <br><br>
    {% block content %}{% endblock %}
</div>

<!-- footer -->
<div id="footer">
    <br><br>
    {% block footer %}
    <div class="ui center aligned grid"> © Copyright 2021 der3318</div>
    {% endblock %}
</div>

<!-- scripts -->
<script type="text/javascript" src="/javascripts/base.js"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>
{% block scripts %}{% endblock %}

</body>

</html>
